// Colors 
$cyan: hsl(179, 62%, 43%);
$brightYellow: hsl(71, 73%, 54%);
$lightGray: hsl(204, 43%, 93%);
$grayishBlue: hsl(218, 22%, 67%);

$lightBlue: #4abebd;
$brightYellowShadow: hsl(71, 73%, 74%);
//
$widthDesktop: 600px;
$widthMobile: 300px;
