* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #e5eff5;
  font-family: 'Karla', sans-serif;
}

.container {
  height: 98vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: .5fr 1fr;
      grid-template-rows: .5fr 1fr;
  -webkit-box-shadow: 1px 8px 58px 6px #cfdfee;
          box-shadow: 1px 8px 58px 6px #cfdfee;
  margin: 0 auto;
  max-width: 600px;
}

@media only screen and (max-width: 630px) {
  .container .content {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr .5fr 1fr;
        grid-template-rows: 1fr .5fr 1fr;
    max-width: 300px;
  }
}

.container .content .title {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 2rem;
}

@media only screen and (max-width: 630px) {
  .container .content .title {
    -ms-grid-column: 1;
    grid-column: 1;
  }
}

.container .content .title h1 {
  color: #2ab2af;
  font-weight: 700;
  font-size: 18px;
  padding-bottom: 1.5rem;
}

.container .content .title strong {
  color: #c0df34;
  padding-bottom: .5rem;
}

@media only screen and (max-width: 630px) {
  .container .content .title strong {
    padding-bottom: 1rem;
  }
}

.container .content .title span {
  color: #98a6bd;
  line-height: 1.5rem;
}

.container .content .plans {
  -ms-grid-row: 2;
  grid-row: 2;
  background-color: #2ab2af;
  border-bottom-left-radius: 10px;
  padding: 2rem;
  color: white;
}

@media only screen and (max-width: 630px) {
  .container .content .plans {
    border-bottom-left-radius: 0px;
  }
}

.container .content .plans h1 {
  font-weight: 700;
  font-size: 18px;
  padding-bottom: 1rem;
}

.container .content .plans .value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: .5rem;
}

.container .content .plans .value span {
  font-size: xx-large;
  font-weight: 700;
}

.container .content .plans .value p {
  margin-left: .5rem;
}

.container .content .plans p {
  font-size: smaller;
}

.container .content .plans button {
  width: 100%;
  height: 3rem;
  border-radius: 5px;
  border-color: transparent;
  background-color: #c0df34;
  color: white;
  font-weight: 400;
  font-size: medium;
  margin-top: 1.5rem;
  cursor: pointer;
}

.container .content .plans button:hover {
  border-color: #dbed8c;
}

.container .content .plans button:focus {
  outline: none;
}

.container .content .features {
  -ms-grid-row: 2;
  grid-row: 2;
  background-color: #4abebd;
  border-bottom-right-radius: 10px;
  padding: 2rem;
}

@media only screen and (max-width: 630px) {
  .container .content .features {
    -ms-grid-row: 3;
    grid-row: 3;
    border-bottom-left-radius: 10px;
  }
}

.container .content .features h1 {
  color: white;
  font-weight: 700;
  font-size: 18px;
  padding-bottom: 1rem;
}

.container .content .features p {
  color: white;
  font-size: smaller;
  margin-bottom: .25rem;
}
/*# sourceMappingURL=styles.css.map */